* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 500px;
  background-color: #f8f8f8;
  border: 2px solid rgb(192, 188, 188);
  border-radius: 14px;
  position: relative;
  padding-top: 50px;
  max-height: 90%;
  overflow: hidden;
}

.cont-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(255, 220, 64);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #333;
}

main {
  padding: 10px 40px 40px;
  max-height: 100%;
}

.sort {
  display: flex;
  justify-content: flex-end;
}

.sort button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.sort button img {
  width: 35px;
  height: 35px;
}

.input {
  padding: 20px 0px;
  position: relative;
  width: 420px;
  margin: auto;
}

.input input {
  width: 100%;
  padding: 15px;
  border: 2px solid #ccc;
  font-size: 20px;
  border-radius: 12px;
  color: #333;
  outline: none;
}

.todos {
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 15px 25px;
  display: none;
  max-height: 300px;
  overflow-y: auto;
}

.todo {
  position: relative;
  width: 420px;
  margin: auto;
  border-bottom: 2px solid rgb(211, 207, 207);
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}

.todo:last-child {
  border-bottom: none !important;
}

.todo p {
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.todo span {
  font-size: 14px;
  color: rgb(156, 148, 148);
}

.todo button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: 2px solid #c4c4c4;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 25px;
  color: #c4c4c4;
  transition: all 0.3s;
}

.todo button:hover {
  background-color: rgb(153, 83, 241);
  color: #fff;
  border: none;
}

.add {
  display: flex;
  position: relative;
  align-items: center;
  width: 150px;
  color: #fff;
  padding: 7px;
  font-size: 24px;
  border-radius: 50px 40px 40px 50px;
  margin: auto;
  background-color: rgb(131, 58, 224);
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.5s;
}

.add button {
  position: absolute;
  left: 0;
  color: #fff;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: rgb(153, 83, 241);
}

.add span {
  display: flex;
  margin: auto;
  padding-left: 20px;
}

.add:hover {
  animation: jump infinite 0.7s;
}

@keyframes jump {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.add span::selection {
  background-color: inherit;
}

.todos::-webkit-scrollbar {
  width: 10px;
}

.todos::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

.todos::-webkit-scrollbar-thumb {
  background-color: rgb(153, 83, 241);
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  transition: all 0.5s;
}

.todos::-webkit-scrollbar-thumb:hover {
  background-color: rgb(131, 58, 224);
}

@media screen and (max-width: 550px) {
  .container {
    width: 400px;
  }
  .input {
    width: 300px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 300px;
  }

  main {
    padding: 10px 20px;
  }

  .input {
    width: 200px;
  }

  h1{
    font-size: 30px;
  }
}
